
@import 'variables';

aside {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 250px;
  padding-top: 15px;
  color: #fff;
  background-color: #303d3c;
  border-right: 1px solid #ccc;

  legend {
    flex-basis: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 15px;
    margin-bottom: 15px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;      
  }

  .projects {
    flex-basis: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .projects_item {
      position: relative;
      height: 27px;
      padding: 6px 35px 6px 30px;
      margin-bottom: 5px;
      color: $yellow_light;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      label {
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;   
      }

      input[type="text"] {
        display: none;
        border: 1px solid #eee;
        background-color: transparent;
        color: $yellow;
        width: 100%;
        height: 20px;
        margin-left: -7px;
      }

      &.active {
        background-color: $magenta_light;

        &:hover {
          background-color: $magenta_light;
        }
      }

      .projects_item_icon {
        position: absolute;
        
        svg {
          width: 100%;
          height: 100%;
        }
    
        &.item_icon_edit {
          display: none;
          top: 6px;
          right: 15px;
          width: 15px;
          height: 15px;
          
          svg:last-child {
            display: none;
          }
        }

        &.item_icon_lock {
          display: none;
          top: 7px;
          left: 10px;
          width: 12px;
          height: 12px;

          svg:first-child {
            display: none;
          }
        }
      }

      &.edit {
        padding-top: 3px;
        padding-bottom: 3px;

        label {
          display: none;
        }

        input[type="text"] {
          display: inline-block
        }

        .item_icon_edit {
          display: block;
          svg:first-child {
            display: none;
          }
          svg:last-child {
            display: block;
          }
        }
      }

      &.lock {
        .item_icon_lock {
          display: block;
          svg:first-child {
            display: block;
          }
          svg:last-child {
            display: none;
          }
        }
      }

      &:hover {
        background-color: darken(#303d3c, 3%);
        color: $yellow;

        .item_icon_edit {
          display: block;
        }
        .item_icon_lock {
          display: block;
        }
      }
    }
  }
}