.b-checkbox {
  position: relative;
  display: block;
  width: 40px;
  height: 15px;
  background-color: $editor_dark;
  border-radius: 10px;

  input[type=checkbox] {
    display: none;
  }

  .b-checkbox_runner {
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    width: 23px;
    height: 23px;
    border-radius: 16px;
    background-color: $blue;
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    transform: translateX(-1px);

    &:hover {
      box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    }
  }

  &.b-checkbox--enabled {
    background-color: $yellow;
    .b-checkbox_runner {
      background-color: $blue_light;
      transform: translateX(19px);
    }
  }
}