.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.popup-title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 30px;
  width: 100%;
  background-color: var(--black);
  color: #fff;
  font-size: 1rem;
}

.popup-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 30px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    left: 15px;
    width: 15px;
    height: 1px;
    background-color: var(--blue-gray);
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: #e60702;

    &:before,
    &:after {
      background-color: #fff;
    }
  }
}

.popup-window {
  background-color: #fff;
  border: 1px solid var(--blue-gray);
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.2);
}

.popup-inner {
  padding: 8px;
}

.popup-about {
  img {
    max-width: 80px;
  }
}

#upload-download-popup {
  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue_light);
    font-size: 12px;
    margin-bottom: 5px;
  }

  .progress {
    position: relative;
    width: 0;
    height: 15px;
    background-color: var(--blue);
  }
}

.error-hint {
  color: var(--editor_red);
  font-size: 11px;
}

input[type=text].input--error {
  border: 1px solid var(--editor_red);
}
