@import './variables';
@import './normalize';
@import './fonts';
@import './common';
@import './forms';
@import './titlebar';
@import './aside';
@import './popup';
@import './toasted';
@import './loader';
@import './bcheckbox';
@import './bbtn';

html {
  font-family: var(--font-regular);
}

#app, #content {
  height: 100%;
}

#app {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.non-selectable {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

mark {
  background-color: transparent;
}

main {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;

  section {
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;

    & > div {
      width: 100%;
    }
  }
}

#loading_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -8px;
  width: 150px;
  height: 15px;
}

.loading {
  width: 150px;
  height: 15px;
  background-color: var(--blue);

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation-name: loading;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  flex-shrink: 0;
}

.empty_cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--grey);


  .title {
    margin-bottom: 30px;
    text-align: center;
  }

  .signup {
    cursor: pointer;
    color: var(--blue);

    &:hover {
      color: var(--blue_light);
    }
  }
}

.yd_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--grey);

  &_title {
    color: var(--blue);
    font-weight: bold;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &.form-auth {
      width: 300px;
    }
  }
}

.notepad_cont {
  flex-basis: 100%;
  flex-grow: 1;
  padding-left: 6px;
  background-color: var(--grey);
  border-bottom: 1px solid var(--blue-gray_light);
  overflow-x: hidden;
  overflow-y: auto;

  .notepad_item {
    position: relative;
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
    background-color: #fff;
    margin-bottom: 7px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    border: 1px solid transparent;

    &.unread {
      background-color: var(--blue_light-2);
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    &:hover {
      .notepad_item_btns {
        display: flex;
      }
    }
  }

  .notepad_item_date {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .notepad_item_content {
    font-family: $menlo;
    font-size: 11px;
    color: $dark;
    word-wrap: break-word;
    line-height: 19px;
  }

  .notepad_item_btns {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;

    button {
      display: block;
      width: 45px;
      height: 30px;
      border: none;
      background: var(--blue-gray_light);
      opacity: 0.3;
      border: 1px solid var(--blue-gray);

      svg {
        max-width: 65%;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.notepad_textarea {
  display: flex;
  position: relative;
  flex-basis: 40%;
  flex-grow: 0;
  padding: 6px;
  background-color: var(--grey);

  textarea {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .notepad_btns {
    display: flex;
    flex-direction: column;
    width: 45px;
    flex-grow: 2;
    flex-shrink: 0;
  }

  button {
    width: 45px;
    height: 100%;
    background-color: var(--blue-gray_light);
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .notepad_attachments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 50%;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.project-editor {
  font-family: $menlo;
  font-size: 11px;
  line-height: 19px;
  overflow: hidden;

  .CodeMirror {
    height: 100%;
  }

  .CodeMirror-scroll {
    overflow-y: auto;
  }
}

.preferences {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-basis: 54px;
    flex-shrink: 0;
    align-items: center;
    padding-left: 15px;
  }

  form {
    flex-basis: 100%;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;

    & > div {
      max-width: 50%;
    }

    input {
      letter-spacing: 1px;
    }
  }

  .btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    flex-basis: 65px;
    flex-grow: 0;
    border-top: 1px solid var(--blue-gray);
  }
}

.account {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-basis: 54px;
    flex-shrink: 0;
    align-items: center;
    padding-left: 15px;
  }

  .account-content {
    max-width: 50%;
    flex-basis: 100%;
    padding: 15px;
  }

  .content-row {
    display: grid;
    grid-template-columns: 50% 50%;

    label {
      display: block;
      color: var(--blue);
      font-size: 13px;
      line-height: 30px;
    }

    caption {
      display: flex;
      justify-content: flex-end;
      color: var(--black_light);
      font-size: 13px;
      line-height: 30px;
    }
  }

  .account-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    flex-basis: 65px;
    flex-grow: 0;
    border-top: 1px solid var(--blue-gray);
  }
}

// .error_cont {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   padding-top: 45px;
//   z-index: 9999;
//   background: rgba(255,255,255,0.7);

//   .error_cont_inner {
//     position: relative;
//     height: 45px;
//     line-height: 45px;
//     color: #fff;
//     background-color: rgba(#333, 0.5);
//     padding: 0 30px;

//     &:after {
//       content: '';
//       display: block;
//       position: absolute;
//       top: 13px;
//       right: 13px;
//       width: 20px;
//       height: 20px;
//       border-radius: 10px;
//       border: 2px solid #fff;
//       border-top: 2px solid transparent;
//       animation: rotate 1s linear 0s infinite;
//     }
//   }
// }

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.drop-area {
  position: relative;
}

#upload-download-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.2);
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue_light);
    font-size: 11px;
    margin-bottom: 5px;
  }

  .progress {
    position: relative;
    width: 33%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--blue);
  }
}

.file {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 65px;
  padding: 3px;
  min-height: 65px;
  max-height: 110px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  &.selected {
    border: 1px solid $blue_light;
    background-color: $blue_light-op-02;
  }
  &.checking {
    .file_icon, .file_name {
      opacity: 0.6;
    }
    .file_check {
      display: block;
    }
  }

  &.checked {
    .file_icon, .file_name {
      opacity: 0.8;
    }
    .file_check {
      span {
        background-color: rgba(255, 255, 255, 1);
        border-color: $editor_green_darken-10;
        box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
        svg {
          display: block;
        }
      }
    }
  }

  .file_icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    flex-shrink: 0;

    .icon {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .file_name {
    display: inline-block;
    font-size: 11px;
    color: var(--blue);
    text-align: center;
    padding: 3px 0;
    width: 100%;
    line-height: 13px;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
  }

  .file_loader {
    display: none;
    position: relative;
    height: 13px;
    background-color: var(--blue);
    margin-left: 15px;

    span {
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      top: 0;
      right: -18px;
      font-size: 11px;
      color: var(--dark);
      white-space: nowrap;

      &.error {
        color: var(--red);
      }
    }
  }
  .file_check {
    display: none;
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;

    input[type=checkbox] {
      display: none;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23px;
      height: 23px;
      border: 1px solid $dark;
      border-radius: 4px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
      svg {
        display: none;
      }
    }
  }
}

.button {
  cursor: pointer;

  &:active {
    opacity: 0.8;
    transform: translate(0px, 1px);
  }
}
