.editor_wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100;

  .editor-toolbar {
    flex-basis: 54px;
    flex-shrink: 0;

    .fa-save {
      cursor: pointer;
    }
  }

  .CodeMirror {
    height: auto;
    min-height: auto;
    flex-basis: 100%;
    flex-grow: 1;
  }

  .CodeMirror-scroll {
    min-height: 100%;
  }
}