
// fonts
$regular: 'Roboto-Regular';
$thin: 'Roboto-Thin';

$dark: #303d3c;
$dark_light: lighten($dark, 15%);
$dark_light_lighten: lighten($dark, 20%);
$dark_darken-1: darken($dark, 3%);
$dark_darken-2: darken($dark, 5%);

// colors
$black: #0b0b0b;
$black_light: lighten($black, 20%);

$blue: #2766BA;
$blue_light: #2A86BB;
$blue_light-op-04: rgba($blue_light, 0.4);
$blue_light-1: lighten($blue_light, 5%);
$blue_light-2: lighten($blue_light, 50%);

$red: #FB004D;
$red_light: #FB404F;

$yellow: #FFE66A;
$yellow_light: #FFE680;

$green: #86FF00;
$green_light: #AEFF00;

$grey: #E6EBEC;
$magenta: #5F2F73;
$magenta_light: #752F73;
$magenta_light-1: lighten($magenta_light, 10%);

$blue-gray: #b7c5ca;
$blue-gray_light: lighten($blue-gray, 9%);

$editor_green: #72c749;
$editor_dark:  #141414;
$editor_blue: #35bdff;
$editor_yellow: #eeea53 ;
$editor_red: #CF6A4C;
$editor_red_light: lighten($editor_red, 3%);

:root {
  --font-regular: #{$regular};
  --font-thin: #{$thin};
  --black: #{$black};
  --black_light: #{$black_light};
  --dark: #{$dark};
  --dark_light: #{$dark_light};
  --dark_light_lighten: #{$dark_light_lighten};
  --dark_darken-1: #{$dark_darken-1};
  --dark_darken-2: #{$dark_darken-2};
  --blue: #{$blue};
  --blue_light: #{$blue_light};
  --blue_light-op-04: #{$blue_light-op-04};
  --blue_light-1: #{$blue_light-1};
  --blue_light-2: #{$blue_light-2};
  --red: #{$red};
  --red_light: #{$red_light};
  --yellow: #{$yellow};
  --yellow_light: #{$yellow_light};
  --green: #{$green};
  --green_light: #{$green_light};
  --grey: #{$grey};
  --magenta:  #{$magenta};
  --magenta_light:  #{$magenta_light};
  --magenta_light-1: #{$magenta_light-1};
  --blue-gray:  #{$blue-gray};
  --blue-gray_light: #{$blue-gray_light};
  --editor_green: #{$editor_green};
  --editor_dark: #{$editor_dark};
  --editor_blue: #{$editor_blue};
  --editor_yellow: #{$editor_yellow};
  --editor_red: #{$editor_red};
  --editor_red_light: #{$editor_red_light};
}
