.projects_archives {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-d-6);
  z-index: 8;
  transition: 0.3s;

  &.expanded {
    transform: translateX(100%);
  }
}
.projects_archives_title {
  display: flex;
  align-items: center;
  flex-basis: 54px;
  flex-shrink: 0;
  padding-left: 16px;
}
.projects_archives_inner {
  flex-basis: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;

  ul {
    li {
      position: relative;
      display: flex;
      align-items: center;
      height: var(--button-s);
      padding: 0 4px 0 16px;
      color: var(--secondary);
      cursor: default;
      transition: 0.2s;

      &:first-child {
        padding-top: 0;
      }

      [aria-role="controls"] {
        display: none;
        justify-content: flex-end;
        gap: 4px;
      }

      small {
        display: block;
        margin-top: 4px;
        color: var(--secondary-d-2);
      }

      &:hover {
        background-color: var(--grey-d-5);
        color: var(--secondary-l-3);

        small {
          color: var(--secondary-d-1);
        }

        [aria-role="controls"] {
          display: flex;
        }
      }
    }
  }
}
