.projects_editor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background-color: var(--grey-d-6);
  z-index: 8;
  transition: 0.3s;

  &.expanded {
    transform: translateX(100%);
  }

  .projects_editor_inner {
    flex-basis: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 15px;
  }

  form {
    input[type='text'] {
      height: 20px;
      font-size: 13px;
    }
  }

  .projects_editor_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 54px;
    flex-shrink: 0;
    padding-right: 15px;
    gap: 4px;
  }
}
.projects_editor_title {
  display: flex;
  align-items: center;
  flex-basis: 54px;
  flex-shrink: 0;
}

:deep() {
  .b-label-content {
    color: var(--white) !important;
  }
}
