@use './variables';
@use './normalize';
@use './fonts';
@use './common';
@use './defaults';
@use './titlebar';
@use './aside';
@use './loader';
@use './editor';

html {
  font-family: var(--regular);
  overflow: hidden;
}

#app, #content {
  height: 100%;
}

#app {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.non-selectable {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

mark {
  background-color: transparent;
}

main {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;

  section {
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;

    & > div {
      width: 100%;
    }
  }
}

#loading_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -8px;
  width: 150px;
  height: 15px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  flex-shrink: 0;
}

.close-button {
  -webkit-app-region: no-drag;
  position: relative;
  background-color: var(--grey-d-6);
  width: 45px;
  height: 100%;
  cursor: default;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: 14px;
    width: 15px;
    height: 1px;
    background-color: var(--primary-l-4);
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &.remove-button {
    background-color: var(--white);
    &:hover {
      &:before,
      &:after {
        background-color:var(--error);
      }
    }
  }

  &:not(.remove-button) {
    &:hover {
      background-color:var(--error);

      &:before,
      &:after {
        background-color:var(--white);
      }
    }
  }
}

.empty_cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--grey);


  .title {
    margin-bottom: 30px;
    text-align: center;
  }

  .signup {
    cursor: pointer;
    color: var(--blue);

    &:hover {
      color: var(--blue_light);
    }
  }
}

.yd_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--grey);

  &_title {
    color: var(--blue);
    font-weight: bold;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &.form-auth {
      width: 300px;
    }
  }
}

.page-wrapper {
  display: grid;
  grid-template-rows: 54px 1fr 65px;

  & > div:nth-child(3) {
    border-top: 1px solid var(--primary-l-4);
  }
}

.error_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  z-index: 9999;
  background: rgba(255,255,255,0.7);

  .error_cont_inner {
    position: relative;
    height: 45px;
    line-height: 45px;
    color: var(--white);
    background-color: rgba(#333, 0.5);
    padding: 0 30px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 13px;
      right: 13px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: 2px solid var(--white);
      border-top: 2px solid transparent;
      animation: rotate 1s linear 0s infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.drop-area {
  position: relative;
}

.code-fields {
  display: flex;
  justify-content: space-around;
  input {
    width: 35px;
    height: 56px;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
  }
}

#upload-download-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.2);
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue_light);
    font-size: 11px;
    margin-bottom: 5px;
  }

  .progress {
    position: relative;
    width: 33%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--blue);
  }
}
